
		<h1>BOOKS</h1>

		<p>Welcome to Books World</p>

		<%= image_tag("br.jpg", :width => 1170, :height => 500)%><br>

		<div class="b">
			<%= image_tag("m.jpg", :width => 200, :height => 300)%>
			<%= image_tag("c.jpeg", :width => 200, :height => 300)%>
			<%= image_tag("g.jpeg", :width => 200, :height => 300)%>
			<%= image_tag("i.jpeg", :width => 200, :height => 300)%>
			<%= image_tag("ss.jpg", :width => 200, :height => 300)%>
			</div>
	
	

